<ul>
  {{#each episodes}}
  <li>
    <a href="{{view}}">
      <figure>
        <img src="{{image}}" alt="Episode #{{id}} - {{title}}">
        <figcaption>#{{id}}<br>{{title}}</figcaption>
      </figure>
    </a>
  </li>
  {{/each}}
</ul>
