
<div class="container well">
  <div id="mixtapes_index"class="text-center">
    {{#indexGroups tags}}{{/indexGroups}}
  </div>

  <div id="mixtapeList">
    {{#each tags as |group|}}
      <h3 class="page-header" id="{{@key}}">{{@key}}</h3>

      <ul class="list-inline">
        {{#each group as |tag|}}
          <li>
            <a href="#" class="btn btn-default" role="button" tag-name="{{tag.tag.name}}">
              {{tag.tag.name}}&nbsp;&nbsp;<span class="badge">{{tag.track_count}} songs</span>
            </a>
          </li>
        {{/each}}
      </ul>
    {{/each}}
  </div>

</div>
