<div class="tracklist">
  <table>
    <thead>
      <th>Preview</th>
      <th>#</th>
      <th>Title / Performer</th>
      <th>Stream</th>
    </thead>
    <tbody>
      {{#each tracks}}
      <tr class="track">
        <td class="track-preview">
          {{#if spotify_song.preview_url }}
            <button class="track-preview-button" type="button" data-preview-url="{{spotify_song.preview_url}}">&nbsp;</button>
          {{else}}
            <button class="track-nopreview-button" type="button">&nbsp;</button>
          {{/if}}
        </td>
        <td class="track-number">{{position}}</td>
        <td class="track-title-performer">

        {{#if resolved}}
          <div class="track-title">{{#if spotify_song.id}}{{spotify_song.name}}{{else}}{{parsed_song}}{{/if}}</div>
          <div class="track-performer">
            {{#if spotify_artists.length }}
              {{#each spotify_artists }}
                <a href="/artists/{{ id }}">{{ name }}</a>
              {{/each }}
            {{ else }}
              {{ parsed_artist }}
            {{/if}}
          </div>
          <div class="track-year">
            {{#if year}}{{year}}{{else}}-{{/if}}
          </div>
        {{ else }}
          <div class="track-title">{{ title }}</div>
        {{/if }}
        </td>
        <td class="track-stream">
          {{#if spotify_song.preview_url }}
            <button class="track-stream-button" type="button" data-id="{{spotify_song.id}}">&nbsp;</button>
          {{/if}}
        </td>


      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
