
<ul class="list-inline text-center">
  {{#each episodes}}
    <li>
      <div class="episode_card">
        <a href="{{view}}">
          <img class="img-responsive img-rounded" src={{image}}>
        </a>
        <div class="episode_title text-left">
          <div class="small text-muted">Episode {{id}}:</div>
          <a class="lead" href="{{view}}">{{title}}</a>
        </div>
      </div>
    </li>
  {{/each}}
</ul>
