
<div class="row text-center">
  {{#each episodes}}
    <div class="episode_card col-md-3">
      <a href="{{view}}">
        <img class="img-responsive img-rounded" src={{image}}>
      </a>
      <div class="episode_title text-left">
        <div class="small text-muted">Episode {{id}}:</div>
        <a class="lead" href="{{view}}">{{title}}</a>
      </div>
    </div>
  {{/each}}
</div>
