
<div class="jumbotron" id="featureArtists">
  <div class="container">
    <h2 class="sub-header">
      Discover Artists
      <a href="/artists" class="btn btn-default" role="button">All Artists</a>
    </h2>

    <ul class="list-inline text-center">
      {{#each artists }}
        <li>
          <a href="{{view}}">
            {{#if lastfm_image }}
              <img class="img-circle" src="{{lastfm_image}}" alt="" />
            {{else}}
              <img class="img-circle" src="/static/images/default-artist.png" alt="" />
            {{/if}}
            <h4 title="{{name}}">{{name}}</h4>
          </a>
        </li>
      {{/each}}
    </ul>
  </div>
</div>

<div class="jumbotron" id="featureEpisodes">
  <div class="container">

    <h2 class="sub-header">
      Stream Episodes &amp; Songs
      <a href="/episodes" class="btn btn-default" role="button">All Episodes</a>
    </h2>

    <ul class="list-inline text-center">
      {{#each episodes }}
        <li>
          <a href="{{view}}">
            <img class="img-responsive img-rounded" src={{image}}>
          </a>
          <div class="episode_title text-left">
            <div class="small text-muted">Episode {{id}}:</div>
            <a class="lead" href="{{view}}" title="{{title}}">{{title}}</a>
          </div>
        </li>
      {{/each }}
    </ul>
  </div>
</div>

<div class="jumbotron" id="featureMixtapes">
  <div class="container">
    <h2 class="sub-header">
      Play our Mixtapes
      <a href="/mixtapes" class="btn btn-default" role="button">All Mixtapes</a>
    </h2>

    <ul class="list-inline text-center">
      {{#each mixtapes }}
        <li>
          <a href="/mixtapes/{{tag.name}}">
            <img src="/static/images/cassette-mono.png" alt="" />
            <h4 title="{{tag.name}}">{{tag.name}}</h4>
          </a>
          <span class="badge">{{track_count}} songs</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
