
{{#each tags as |group|}}
  <div class="row" id="{{@key}}">
    <div class="col-md-12">
      <h2 class="page-header">{{@key}}</h2>
    </div>
  </div>

  <div class="row">
    {{#each group as |tag|}}
      <div class="col-md-6">
        <button type="button" class="btn btn-default" tag-name="{{tag.tag.name}}">{{tag.tag.name}}&nbsp;&nbsp;<span class="badge">{{tag.track_count}}</span></button>
      </div>
    {{/each}}
  </div>
{{/each}}
