<div class="row">
  <div class="col-md-4">
    <div id="spotifyPlayer"></div>
  </div>
  <div class="col-md-8">
    <div class="tracklist">
      <table class="table table-responsive table-condensed">
        <thead class="green">
          <th>#</th>
          <th>SONG</th>
          <th>ARTIST</th>
          <th>YEAR</th>
          <th class="text-center">PREVIEW</th>
        </thead>
        <tbody>
          {{#each tracklist}}
            <tr>
              {{# if episode }}
                <td></td>
              {{else}}
                <td>{{position}}</td>
              {{/if}}
              <td>
                {{# if spotify_song.data.id }}
                  <a href={{spotify_song.data.url}}>{{parsed_song}}</a>
                {{else}}
                  {{parsed_song}}
                {{/if}}
              </td>
              <td>
                {{# artistName spotify_artists parsed_artist}}{{/artistName}}
              </td>
              <td>
                {{year}}
              </td>
              <td class="text-center">
                {{# if spotify_song.data.id }}
                  <span class="glyphicon glyphicon-play-circle preview" previewUrl="{{spotify_song.data.preview_url}}"></span>
                {{else}}
                  <span class="glyphicon glyphicon-question-sign"></span>
                {{/if}}
              </td>
            </tr>
          {{/each}}
      </table>
    </div>
  </div>

</div>
